body {
    font-family: 'Poppins', sans-serif;
}

.back {
    background-image: url(donate-today-main.zip/donate-today-main/images/donation5.jpg);
}

.heading {
    text-align: center;
}

.paragraph {
    text-align: center;
}